:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #696981;
  background-color: #f8f8f8;
  font-family: "Tenor Sans";

}

/** Footer */

.blog {
  background: url('../public/assets/footer.png');
  background-position: left;
  background-repeat: no-repeat;
}
footer {
  padding: 80px 0px 80px;
  color: #1a1a1a;
  font-size: 0.9rem;
  background: url('../public/assets/foot.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
}
.footer-logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.footer-description {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #6c757d;
  font-size: 0.9rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin-right: 5px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #4c4b63;
}
.footer-heading {
  font-weight: 600;
  font-size: 0.95rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #6c757d;
}
.footer-links a {
  display: block;
  color: #1a1a1a;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s;
  line-height: 20px;
}
.footer-links a:hover {
  color: #6c63ff;
}
.footer-bottom {
  border-top: 1px solid #e9ecef;
  margin-top: 20px;
  padding-top: 15px;
  font-size: 0.85rem;
  color: #6c757d;
}
.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 0.3s;
}
.scroll-to-top:hover {
  background-color: #6c63ff;
  color: #fff;
}

.blog-title {
  color: #29294b;
}

.blog-text {
  color: #696981;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Tenor Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.hero-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a202c; /* Dark shade for the main text */
}
.highlight-text, .btn-outline-primary {
  color: #00bcd4 !important; 
  border-color: #00bcd4 !important; 
}

.box-shadow {
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
}


.btn-outline-primary:hover {
  color: #fff !important; 
  border-color: #00bcd4 !important; 
  background-color: #00bcd4 !important; 
}

.subtext {
  color: #6c757d; /* Muted text color for the subtitle */
  font-size: 1rem;
}
.bg-overlay {
  background: linear-gradient(120deg, #fff 46%, rgba(145, 213, 237, 0.613883) 80%);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.divider {
  border-top: 1px solid #e9ecef;
  margin-top: 1.5rem;
}

.heroContainer {
  padding: 60px 0px 60px 0px ;
  background: url('../public/assets/main-bg.png');
  background-position: center center;
  
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
